header {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue';
    padding: 0 30px;
    transition: all ease 0.5s;
}

.blackBackground {
    background-color: #141414;
}

.header--logo {
    height: 25px;
    text-decoration: none;
}

.header--logo h1{
    display: inline-block;
    color: #E50914;
    margin: 0;
    padding-top: 0;
}

.header--profile {
    height: 45px;
}

.header--profile img{
    height: 100%;
    border-radius: 3px;
}

